doctype html
html(lang="en")
  head
    title Welcome to National Health Club Company
    meta(charset='utf-8')
    link(rel="stylesheet", href="/static/main.css")
  body
    label Upload your health data here
    form(method="POST", action="/upload", enctype="multipart/form-data")
      input(type="file", name="file")
      input(type="submit")
    